 * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: Roboto, Times New Roman, sans-serif;
	text-align: center;
	align-content: center;
	position: relative;
	white-space: nowrap;
	background-color: #EEEEEE;
}

header {
	width: 100%;
	display: block;
	background-color: #607D8B;
	border-bottom: 3px solid black;
}

h1 {
	font-size: 56px;
	word-spacing: 10px;
	line-height: 250%;
}

h2 {
	font-size: 28px;
	margin-top, margin-bottom: 1em;
}

h3 {
	font-size: 18px;
	margin-top: 1em;
}

.rps_button {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	margin: 8em;
	border: solid #333333;
	transition: all 0.3s ease 0s;
}

.rps_button:focus {
	outline: 0;
}

#rock_button {
	background-color: #FA1400;
}

#paper_button {
	background-color: #09C4FF;
}

#scissors_button {
	background-color: #FFFC50;
}

.rps_img {
	height: 30%;
	width: 30%;
}

.rps_label {
	font-size: 24px;
	font-weight: bold;
	color: #333333; 
	margin-top: 8px;
}

#results_area {
	margin-top: -50px;
}










